<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	    <link rel="stylesheet" th:href="@{/login.css}"/>
	<script type="text/javascript" th:src="@{login/login.js}"></script>
	
	<link rel="stylesheet" href="login/login.css">
		<link rel="stylesheet" href="BootStrapJquery/bootstrap.min.css">
		<script  type="text/javascript" src="login/login.js" /></script>
	
		<script type="text/javascript" src="BootStrapJquery/bootstrap.min.js" ></script>
	
		<script  type="text/javascript" src="BootStrapJquery/jquery.min.js" ></script>
	
    <meta charset="UTF-8">
    <title>Vendor and Bill Management - Login</title>
    

</head>
<body>
<div class="login-form">
    <h1>Login Form</h1>
    <div class="form-group "> <input  class="form-control form-control-lg" type="text"  placeholder="Username " id="userName"   maxlength="10"> <i class="mdi mdi-account"></i> </div>
    <div class="form-group log-status"> <input  class="form-control form-control-lg" type="password"  placeholder="Password" id="password"   maxlength="20">
     <i class="mdi mdi-lock"></i> </div> <span class="alert">Invalid Credentials</span> <a class="link" href="#">Lost your password?</a> 
     <button type="button" class="log-btn" id="loginButton" onclick="checkLogin()"><i class="mdi mdi-account"></i> Log in</button>
     <br>
      <a style="color:blue" id="signUpButton" class="link" href="/signUp">Click Here to Sign Up</a> 
</div>
</body>
</html>
<script>

$(document).ready(function(){
	
	

	
$('#loginButton').click(function () {

  debugger;
  $('#loginButton').attr("disabled",true)
	var userName = $("#userName").val()
	var password = $("#password").val()
		alphaNumericFormat  = /^([a-zA-Z0-9]+)$/
			if(alphaNumericFormat.test(userName) == false){
				
				$(".alert").text("Invalid Username.");
				$(".alert").css("display","block")
			}
	if(alphaNumericFormat.test(password) == false){
		$(".alert").text("Invalid Password");
		$(".alert").css("display","block")
		
	}
	$.post('checkLogin', {userName: userName,password:password}, function(response){ 
		debugger
		if(response.includes('/signUp')){
			location.href = response;

		}
		
		else if(response.includes('User does not exist')){
			$(".alert").text("User does not exist");
			$(".alert").css("display","block")
		}
		else{
			$(".alert").css("display","block")
		}
		//alert(response)
		return false;
	});
	
});


});
</script>